body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    padding: 50px;

}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    max-width: 300px;
    width: 100%;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 100%;
    background-color: #3b82f6;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 16px;
}